
Pitch Perfect.xcodeproj/project.xcworkspace/xcuserdata/philip.xcuserdatad/UserInterfaceState.xcuserstate

Pitch Perfect.xcodeproj/xcuserdata/philip.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Pitch Perfect.xcodeproj/xcuserdata/philip.xcuserdatad/xcschemes/Pitch Perfect.xcscheme

Pitch Perfect.xcodeproj/xcuserdata/philip.xcuserdatad/xcschemes/xcschememanagement.plist
